@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Roboto', sans-serif !important;
}
body{
    overflow-x: hidden;
}
#footer p{
    font-family: Calibri, sans-serif !important;
}
#footer li{
    font-family: Calibri, sans-serif !important;
}
#footer h2{
    font-family: Calibri, sans-serif !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  height: 650px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
    background-position: center;
    position: relative;
}
.swiper-slider-image{
    background-image: url("/static/images/slider/SAM_1894.webp");

}
.swiper-slider-image-1{
    background-image: url("/static/images/slider/SAM_1903.webp");

}
.swiper-slider-image-2{
    background-image: url("/static/images/slider/SAM_1931shoplu.webp");
}
.swiper-slider-image-3{
    background-image: url("/static/images/slider/SAM_1941.webp");
}
.bg-image-color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.22);

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu-content a{
    padding: 10px !important;
    display: block;
    font-size: 15px !important;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}
.container{
    width: 1100px !important;
    margin: 0px 20px !important;
}
.header-nav li{
    display: inline;
}
.header-nav li a{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif !important;
    text-transform: uppercase;
    color: #666;
    padding: 0 7px 4px 0px;
    font-weight: 500 !important;
}
.bg-image{
    background-image: url(../images/03_Mood_Freisteller_Produkte.jpg);
    background-size: cover;
    background-position: center;
}
.jumbotron-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(84, 84, 84, 0.68);
}
.cards article img{
    width: 100%;
}
.list-quality li{
    margin-bottom: 5px;
}
.contact-toggle{
    padding: 10px 10px 10px 87px !important;
     transition: right 0.4s ease-in-out !important;
    -o-transition: right 0.4s ease-in-out !important;
    -ms-transition: right 0.4s ease-in-out !important;
    -moz-transition: right 0.4s ease-in-out !important;
    -webkit-transition: right 0.4s ease-in-out !important;
}

.contact-toggle:hover{
    right: 198px;
}
.cards{
    transition: 200ms all;
}
@media screen and (max-width: 1201px){
    #header img{
        width: 400px !important;
    }
    .header-nav a{
        font-size: 13px !important;
    }
}
@media screen and (max-width:768px) {
    .cards{
        justify-content: center !important;
    }
    .cards article{
        width: 80%;
    }
    iframe{
        width: 100% !important;
    }
    #header .container{
        flex-direction: column !important;
    }
    .email-box{
        padding: 5px !important;
        left: 85% !important;
    }
    ._banner .container{
        flex-direction: column !important;
        align-items: flex-start !important;
        gap: 20px;
    }
    ._banner .container a{
        padding: 7px 14px !important;
    }
    #contact{
        flex-direction: column !important;
    }
    .sub-content-box{
        flex-direction: column !important;
    }
    .production-card{
        grid-template-columns:repeat(1, minmax(0, 1fr)) !important;
        place-items: center !important;
    }
    .production-card article{
        width: 80%;
    }
}
@media screen and (max-width:568px) {
    .jumbotron-text{
        width: 100% !important;
    }
    .jumbotron-text h2{
        font-size: 1.7rem;
    }
    .jumbotron-text p{
        font-size: 1.3rem;
    }
    .jumbotron-text a{
        width: 150px !important;
    }
    .footer-sub-sec{
        display: flex;
        flex-direction: column !important;
        gap: 10px;
    }
    #form-contact{
        grid-template-columns:repeat(1, minmax(0, 1fr)) !important;
    }
    .form-button{
        width: 100% !important;
    }
}


.toggle-contact {
    position: fixed;
    right: -198px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    z-index: 999
}

.toggle-contact li {
    display: block;
    padding: 0;
    margin: 0;
    list-style-type: none
}

.toggle-contact li:first-child {
    margin-bottom: 15px
}

.toggle-contact li a {
    position: relative;
    display: flex;
    padding: 10px 10px 10px 87px;
    background-color: #fff;
    font-size: 17px;
    width: 265px;
    right: 0;
    height: 60px;
    transition: right 0.4s ease-in-out;
    -o-transition: right 0.4s ease-in-out;
    -ms-transition: right 0.4s ease-in-out;
    -moz-transition: right 0.4s ease-in-out;
    -webkit-transition: right 0.4s ease-in-out;
    border-top: 2px solid #0369A1;
    border-bottom: 2px solid #0369A1;
    align-items: center
}

.toggle-contact li a span {
    position: absolute;
    left: 0;
    padding: 0;
    background: #0369A1;
    border-top: 2px solid #0369A1;
    border-bottom: 2px solid #0369A1;
    top: 0;
    height: 56px;
    width: 67px;
    font-size: 30px;
    color: #fff
}

.toggle-contact li a span svg {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #fff!important
}

.toggle-contact li a:hover {
    right: 198px
}
