{% extends 'layout.html' %}
{% block title %}Hakkımızda{% endblock %}
{% block description %}Hakkımızda{% endblock %}

{% block body %}

<section class="w-full h-[200px] bg-image">
<div class="jumbotron-bg">
    <div class="flex justify-center h-full items-center">
        <div class="container flex justify-center items-center">
            <h2 class="text-white font-medium tracking-wide text-4xl leading-tight">Hakkımızda</h2>
        </div>
    </div>
</div>
</section>

<div class="w-full flex justify-center mb-20 mt-20">
    <div class="container">
        <p class="text-center text-slate-700 text-[18px]">
            2012 yılı Kasım ayı içerisinde  “Güvenli Çalışma, Kaliteli Üretim” prensibi ile kurulan ve Aralık ayı sonunda 1. Bölge yatırım teşviki
            alan firmamız özellikle otomotiv sanayide tecrübesi olan kökenli çalışanları ile kalıp, makina parçaları, otomotiv ve yedek parça imalatı için tezgah  parkurunu oluşturmuştur. Hedefimiz hassas işleme ve ölçüm tekniklerimizle sizleri kaliteyle buluşturmaktır.
        </p>
    </div>
</div>
{% endblock %}