{% extends 'layout.html' %}
{% block title %}İletişim{% endblock %}
{% block description %}İletişim{% endblock %}

{% block body %}
    <section class="w-full h-[200px] bg-image">
        <div class="jumbotron-bg">
            <div class="flex justify-center h-full items-center">
                <div class="container flex justify-center items-center">
                    <h2 class="text-white font-medium tracking-wide text-4xl leading-tight">İletişim</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="w-full flex justify-center mb-10 mt-10">
        <div class="container flex justify-between gap-10" id="contact">
            <div>
                <form action="{% url "contact" %}" method="POST" class="grid grid-cols-2 flex-col gap-5" id="form-contact">
                    {% csrf_token %}
                    <div class="flex flex-col"><label class="text-slate-700 mb-2" for="">Firma Adı <span class="text-red-700">*</span> </label> <input name="company" class="border shadow rounded py-1 px-3" type="text"/></div>
                    <div class="flex flex-col"><label class="text-slate-700 mb-2" for="">Ad Soyad <span class="text-red-700">*</span> </label> <input name="name" class="border shadow rounded py-1 px-3" type="text"/></div>
                    <div class="flex flex-col"><label class="text-slate-700 mb-2" for="">Telefon <span class="text-red-700">*</span> </label> <input name="phone" class="border shadow rounded py-1 px-3" type="text"/></div>
                    <div class="flex flex-col"><label class="text-slate-700 mb-2" for="">Cep Telefon <span class="text-red-700">*</span> </label> <input name="mobile_phone" class="border shadow rounded py-1 px-3" type="text"/></div>
                    <div class="flex flex-col"><label class="text-slate-700 mb-2" for="">E-mail <span class="text-red-700">*</span> </label> <input name="email" class="border shadow rounded py-1 px-3" type="text"/></div>
                    <div class="flex flex-col"><label class="text-slate-700 mb-2" for="">Web Adresi <span class="text-red-700">*</span> </label> <input name="website" class="border shadow rounded py-1 px-3" type="text"/></div>
                    <div class="flex flex-col"><label class="text-slate-700 mb-2" for="">Faks <span class="text-red-700">*</span> </label> <input name="fax" class="border shadow rounded py-1 px-3" type="text"/></div>
                    <div class="flex flex-col"><label class="text-slate-700 mb-2" for="">Mesajınız <span class="text-red-700">*</span> </label>
                        <textarea name="subject" id="" cols="30" class="border shadow rounded py-1 px-3" rows="1"></textarea>
                    </div>
                    <div><button class="py-2 px-6 bg-sky-700 rounded text-white">Gönder</button></div>
                </form>
            </div>
            <div>
                <div><h2 class="text-2xl text-slate-700">İletişim Bilgileri</h2></div>
                <div class="mt-2 text-slate-600">
                    <h2 class="mb-2">Adres: 	Kemalpaşa Mah. 7416 Sokak No:26A Bornova - İzmir / TÜRKİYE</h2>
                    <h2 class="mb-2">Telefon: +90 ( 232 ) 4783057</h2>
                    <h2 class="mb-2">Faks: +90 ( 232 ) 4783057</h2>
                    <h2>Email: <a href="mailto:info@adlmakina.com" class="text-sky-700">info@adlmakina.com</a> </h2>
                </div>
                <div class="mt-10">
                    <h2 class="text-2xl text-slate-700 mb-5">Konum</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3125.1920348573017!2d27.271898515336815!3d38.43703307964433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b97b536648353f%3A0xaee2a60a8b1341a1!2sKemalpa%C5%9Fa%2C%207416.%20Sk.%20No%3A%2026A%2C%2035060%20Bornova%2F%C4%B0zmir!5e0!3m2!1str!2str!4v1684675223437!5m2!1str!2str" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock %}