{% extends 'layout.html' %}
{% block title %}Adl Makina{% endblock %}
{% block description %}Adl Makina{% endblock %}

{% block body %}

{% include 'components/slider.html' %}

    <div class="text-center bg-sky-700 p-10 mt-10">
            <p class="text-slate-100 text-[15px] mb-3">EN YÜKSEK SEVİYEDE HASSASİYET</p>
            <h2 class="text-white text-4xl font-medium">HİZMETLERİMİZ</h2>
    </div>

   <div class="w-full flex justify-center mb-10">
        <div class="container">
            <section class="mt-10">

                <div class="mt-10 cards flex justify-center flex-wrap gap-5">
                        {% include 'components/card.html' %}
                </div>
            </section>

        </div>
    </div>

    <div class="w-full _banner flex justify-center p-10 bg-sky-700 mb-10"></div>


{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
    var swiper = new Swiper(".mySwiper", {
  slidesPerView: 1,
  spaceBetween: 0,
  loop: true,
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
  },
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
});
    </script>
{% endblock %}