{% load static %}
<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index,follow">
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'components/navbar.html' %}
    {% block body %}{% endblock %}
    {% include 'components/footer.html' %}

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'script/script.js' %}"></script>
    <script src="{% static 'script/lightbox.min.js' %}"></script>
    <script>
        lightbox.option({
            'resizeDuration': 20,
            'wrapAround': true,
            'alwaysShowNavOnTouchDevices': true,
            'disableScrolling':true,
    })
    </script>
</body>
</html>