{% extends 'layout.html' %}
{% block title %}Üretim{% endblock %}
{% block description %}Üretim{% endblock %}

{% block  body %}
<section class="w-full h-[200px] bg-image">
    <div class="jumbotron-bg">
        <div class="flex justify-center h-full items-center">
            <div class="container flex justify-center items-center">
                <h2 class="text-white font-medium tracking-wide text-4xl leading-tight">Ürünler</h2>
            </div>
        </div>
    </div>
</section>

   <div class="w-full flex justify-center mb-10 mt-10">
       <div class="container">
           <div class="p-5 bg-slate-200 rounded">
               <div><h2 class="text-sky-700 text-3xl font-medium">Ölçüm Ekipmanları</h2></div>
               <div><p class="mt-3 text-slate-700 font-medium text-[17px]">İmal edilen ürünler akredite laboratuvarlarda kalibrasyonu yapılmış mikrometreler, mihengir, kumpaslar, komparatör saatleri ile ölçülmektedir.</p></div>
           </div>
           <div class="mt-16">
               <div class="text-center"><h2 class="text-sky-700 text-3xl font-medium">İmal Edilen Ürünlerden Örnekler</h2></div>
                <div class="grid grid-cols-4 gap-5 mt-10 max-md:grid-cols-3 max-sm:place-items-center max-sm:grid-cols-1">
                    {% include "components/products_card.html" %}
                </div>
           </div>

       </div>
   </div>

{% endblock %}