{% extends 'layout.html' %}
{% block title %}Kalite{% endblock %}
{% block description %}Kalite{% endblock %}

{% block body %}
<section class="w-full h-[200px] bg-image">
    <div class="jumbotron-bg">
        <div class="flex justify-center h-full items-center">
            <div class="container flex justify-center items-center">
                <h2 class="text-white font-medium tracking-wide text-4xl leading-tight">Kalite</h2>
            </div>
        </div>
    </div>
</section>

    <div class="w-full flex justify-center mb-10 mt-10">
        <div class="container">
                <div class="p-5 bg-slate-200 rounded">
                    <div><h2 class="text-sky-700 text-3xl font-medium">Kalite Belgelerimiz</h2></div>
                </div>
                <section class="flex justify-around mt-5">
                    <article>
                        <div class="p-3 border rounded"><img src="/static/images/9001-TCS-JASANZ.jpg" alt=""></div>
                        <div><h2 class="text-center font-medium text-sky-700 mt-4">ISO 9001</h2></div>
                    </article>
                    <article>
                        <div class="p-3 border rounded"><img src="/static/images/14001-TCS-JASANZ.jpg" alt=""></div>
                        <div><h2 class="text-center font-medium text-sky-700 mt-4">ISO 14001</h2></div>
                    </article>
                    <article>
                        <div class="p-3 border rounded"><img src="/static/images/MRT-TR-OHSAS-0045.jpg" alt=""></div>
                        <div><h2 class="text-center font-medium text-sky-700 mt-4">ISO 18001</h2></div>
                    </article>
                </section>
                <section>
                     <div class="p-5 bg-slate-200 rounded mt-10">
                         <div><h2 class="text-sky-700 text-3xl font-medium">Entegre Yönetim Sistemi Politikası</h2></div>
                     </div>
                    <div class="text-slate-700 mt-10 bg-slate-300/25 p-7 rounded">
                        <p> ADL Makina&Kalıp, 2012 yılında, her türlü sanayi için metal makina parçaları imalatı; metalden kalıp ve döküm modeli imalatı ile otomotiv sektörüne ait parça ve yedek parça imalatı, alım-satım işlerini yapmaya yönelik olarak kurulmuştur.
                            ADL Makina&Kalıp faaliyetleri sırasında geçerli olan tüm yasal ve diğer şartlara uyar; ayrıca faaliyetlerinde müşterilerine, çalışanlarına ve çevreye önem verdiğinden en üst düzeyde iş sağlığı ve güvenliğini ve kalite güvencesini sağlar. ADL Makina&Kalıp, ISO 9001:2008, ISO14001:2004 ve OHSAS 18001:2007 yönetim sistemlerinin gereksinimlerini karşılayan bir Entegre Kalite Yönetim Sistemini uygular ve yönetim sisteminin sürekli iyileştirilmesini benimser.
                            Faaliyetlerinde; çevreyi korumak, yaralanma ve meslek hastalıklarını önlemek amacıyla çevresel etkileri ve risk oluşturabilecek operasyonları belirler ve değerlendirir.
                            ADL Makina&Kalıp, tüm kaza ve plansız olayları ortadan kaldırmak ve kirliliği önlemeyi sağlamak için gerekli kaynakları garanti altına alır. Bunu gerçekleştirmek için, bir yönetim programı geliştirir ve şirket performansının sürekli iyileştirilmesinde;
                        </p>
                        <ul class="list-disc mt-3 px-3 list-quality">
                            <li> Kaza sonrası yaralanmaları ve meslek hastalıklarının engellenmesi,</li>
                            <li>Atık miktarlarının azaltılması,</li>
                            <li>Enerjinin ve doğal kaynakların korunmasını, Sağlayabilmek adına;</li>
                            <li>Tüm operasyonlarını değerlendirmeyi ve riskleri azaltmak için gerekli kontrolleri belirlemeyi,</li>
                            <li>Çalışanlarının iş sağlığı ve güvenliğini performansını izlemeyi,</li>
                            <li>Çalışanlarına düzenli eğitim vermeyi,</li>
                            <li>Proseslerinde optimum ürün ve hizmet şartları için uygun ortamlar ve ekipmanlarla çalışmayı,</li>
                            <li>Proseslerinde; ürün, çevre ve iş sağlığı risklerini etkileyebilecek planları ve yeni gelişmeleri göz önünde bulundurmayı,</li>
                            <li>Hedeflere ulaşmak için performansını ölçmeyi,</li>
                            <li>Müşteriler ve tedarikçiler dâhil olmak üzere, ilgili tüm taraflara sonuçlar için bilgi vermeyi ve danışmayı,
                            planlar. Bu planlar; faaliyetlerimiz, ürünlerimiz ve hizmetlerimizin etkileri için uygun nitelikte ve ölçekte, amaç ile hedefleri içerdiğinden, yapılmasını taahhüt ederiz.</li>
                        </ul>
                       <div class="mt-10 text-sky-700">
                            <p>
                                Ozan Öztürk
                            </p>
                           <p>
                               Genel Müdür
                           </p>
                       </div>
                    </div>
                </section>
        </div>
    </div>
{% endblock %}