{% extends 'layout.html' %}
{% block title %}Vizyonumuz, Misyonumuz{% endblock %}
{% block description %}Vizyonumuz, Misyonumuz{% endblock %}

{% block body %}

<section class="w-full h-[200px] bg-image">
<div class="jumbotron-bg">
    <div class="flex justify-center h-full items-center">
        <div class="container flex justify-center items-center">
            <h2 class="text-white font-medium tracking-wide text-4xl leading-tight">Vizyonumuz, Misyonumuz</h2>
        </div>
    </div>
</div>
</section>

<div class="w-full flex justify-center mb-20 mt-20">
    <div class="container">
        <div>
            <h2 class="text-sky-700 bg-slate-200 p-3 rounded font-medium mb-2 text-3xl">Vizyon</h2>
            <p class="text-slate-700 p-3">Sektörde öncü olmayı ve geleceği şekillendiren inovasyonlarla fark yaratmayı hedefliyoruz.</p>
        </div>
        <div class="mt-5">
            <h2 class="text-sky-700 bg-slate-200 p-3 rounded font-medium mb-2 text-3xl">Misyon</h2>
            <p class="text-slate-700 p-3">
                Misyonumuz, müşterilerimize sektördeki en yenilikçi ve ileri teknolojilere dayanan çözümler sunarak, onların başarılarını artırmak ve rekabet avantajı kazandırmaktır. Araştırma ve geliştirmeye yatırım yaparak, sürekli olarak yeni ve ilham verici ürünler geliştirmeyi taahhüt ediyoruz. Müşterilerimizin değişen ihtiyaçlarını anlamak ve beklentilerini aşmak için esneklik ve hızlı tepki vermeyi ön planda tutuyoruz. Çalışanlarımıza yenilikçilik ve yaratıcılık konusunda ilham veren bir çalışma ortamı sağlamak ve sektördeki en iyi yetenekleri çekmek ve geliştirmek de hedeflerimiz arasındadır. Sektörümüzde sürdürülebilir büyümeyi destekleyerek, toplumsal ve çevresel etkilerimize de dikkat ediyoruz.
            </p>
        </div>
    </div>
</div>
{% endblock %}