<article>
        <img src="/static/images/bench/img1.png" class="h-[300px]  shadow p-5  border  object-cover" alt="Adl makine tezgah">
</article>
<article>
    <img src="/static/images/bench/img2.jpg" class="h-[300px] shadow p-5 rounded border object-cover" alt="Adl makine tezgah">
</article>
<article>
    <img src="/static/images/bench/img3.jpg" class="h-[300px] shadow p-5 rounded border object-cover" alt="Adl makine tezgah">
</article>
<article>
    <img src="/static/images/bench/img4.jpg" class="h-[300px] shadow p-5 rounded border object-cover" alt="Adl makine tezgah">
</article>
<article>
    <img src="/static/images/bench/img5.jpg" class="h-[300px] shadow p-5 rounded border object-cover" alt="Adl makine" tezgah>
</article>
<article>
    <img src="/static/images/bench/img-6.jpg" class="h-[300px] shadow p-5 rounded border object-cover" alt="Adl makine tezgah">
</article>