
<article class="w-[350px] mb-5 p-3 cards shadow-sm hover:shadow-md rounded">
 <div><img src="/static/images/messvorrichtungen.jpeg" class="rounded" alt="Talaşlı İmalat"></div>
 <div class="mt-5 mb-8"><h2 class="text-sky-700  uppercase text-[17px] font-medium">Talaşlı İmalat</h2></div>
 <div><p class="text-slate-500">ADL Makine olarak bünyemizde bulundurduğumuz CNC dik işlem, torna ve otomat tezgahlarımızla yüksek hassasiyetle ürettiğimiz parçalarla çeşitli sektörlere çözüm ortağı oluyoruz.</p></div>
</article>

<article class="w-[350px] mb-5 p-3 cards shadow-sm hover:shadow-md rounded">
 <div><img src="/static/images/messvorrichtungen.jpeg" class="rounded" alt="Kaynaklı İmalat"></div>
 <div class="mt-5 mb-8"><h2 class="text-sky-700 uppercase text-[17px] font-medium">Kaynaklı İmalat</h2></div>
 <div><p class="text-slate-500">Müşterilerimizin gereksinimlerine göre gaz altı, argon, MIG ve TIG kaynak teknolojisini kullanarak kaynaklı konstrüksiyon çözümleri sunmaktayız. </p></div>
</article>

<article class="w-[350px] mb-5 p-3 cards shadow-sm hover:shadow-md rounded">
 <div><img src="/static/images/messvorrichtungen.jpeg" class="rounded" alt="Soğuk Şekillendirme"></div>
 <div class="mt-5 mb-8"><h2 class="text-sky-700 uppercase text-[17px] font-medium">Soğuk Şekillendirme</h2></div>
 <div><p class="text-slate-500">İmalat sanayinde ve endüstriyel tesislerde gereksinim duyulan malzemelerin, parçaların bükümü ve şekillendirilmesi gerçekleştirmekteyiz</p></div>
</article>

<article class="w-[350px] mb-5 p-3 cards shadow-sm hover:shadow-md rounded">
 <div><img src="/static/images/messvorrichtungen.jpeg" class="rounded" alt="KALİTE KONTROL VE CMM ÖLÇÜM"></div>
 <div class="mt-5 mb-8"><h2 class="text-sky-700 uppercase text-[17px] font-medium">KALİTE KONTROL VE CMM ÖLÇÜM</h2></div>
 <div><p class="text-slate-500">ADL Makine olarak tüm imal ettiğiniz parçaların boyutsal doğruluğu CMM tezgahımızda istenen toleranslar dikkate alınarak hassasiyetle ölçülüp rapor halinde sunmaktayız.  Üretim alanında kaliteyi hedefleyen her firma gibi bizler de imalat proseslerimizi CMM tezgahımız ile kontrol altına almaktayız.</p></div>
</article>

<article class="w-[350px] mb-5 p-3 cards shadow-sm hover:shadow-md rounded">
 <div><img src="/static/images/messvorrichtungen.jpeg" class="rounded" alt="TERSİNE MÜHENDİSLİK"></div>
 <div class="mt-5 mb-8"><h2 class="text-sky-700 uppercase text-[17px] font-medium">TERSİNE MÜHENDİSLİK</h2></div>
 <div><p class="text-slate-500">CMM tezgahımızda parçalarınızın nokta bulutları oluşturup CAD formatına dönüştürerek imalata hazır hale getirmekteyiz.</p></div>
</article>