 <article class="w-[350px] mb-5 p-3 cards shadow-sm hover:shadow-md rounded">
     <div><img src="/static/images/messvorrichtungen.jpeg" class="rounded" alt=""></div>
     <div class="mt-5 mb-8"><h2 class="text-sky-700 text-[17px] font-medium">SPC ÖLÇÜM İSTASYONLARI</h2></div>
     <div><p class="text-slate-500">Seri üretimde boyutların, şeklin ve pozisyonun statik ve dinamik ölçümü ve testi için ayrı cihazlar</p></div>
     <div class="mt-5"><a href="" class="text-sky-700">Daha fazlası →</a></div>
 </article>