 <footer class="w-full flex flex-col bg-[#333333] items-center" id="footer">

        <div class="w-full flex items-center justify-center">
                <div class="container py-10">
                    <h2 class="text-3xl text-slate-200">İletişim</h2>
                    <div class="mt-4 text-slate-300">
                        <ul>
                            <li class="mb-3">Adres: Kemalpaşa Mah. 7416 Sokak No:26A Bornova - İzmir / TÜRKİYE</li>
                            <li class="mb-3">Telefon: +90 ( 232 ) 4783057</li>
                            <li class="mb-3">E-mail:  <a class="underline" href="mailto:info@adlmakina.com">info@adlmakina.com</a></li>
                        </ul>
                    </div>
                </div>
        </div>

        <div class="w-full flex items-center justify-center" style="background-color: #2b2b2b;">
            <div class="container footer-sub-sec  text-slate-300 py-4 text-[15px] flex justify-between">
                <div><p>© {% now 'Y' %} Adl Makina. Tüm Hakları Saklıdır.</p></div>
                <div>
                    <a href="" class="mr-5">Kullanım şartları</a>
                    <a href="">Gizlilik</a>
                </div>
            </div>
        </div>

    </footer>
    