<section class="w-full h-[700px] bg-image">
    <div class="jumbotron-bg">
        <div class="flex justify-center h-full items-center">
            <div class="container flex justify-end items-center">
                <div class="w-[700px] jumbotron-text text-center">
                    <h2 class="text-white font-medium tracking-wide text-5xl leading-tight">EN YÜKSEK DÜZEYDE HASSASİYETLE ÜRETİM METROLOJİSİ</h2>
                    <p class="text-slate-200 my-5 font-medium text-2xl">Verimli üretiminiz için itici güç.</p>
                    <div><a class="text-white py-3 hover:bg-sky-700 w-[200px] mt-5 text-2xl inline-block bg-sky-600" style="border-radius: 50px;" href="{% url "products" %}">Ürünler</a></div>
                </div>
            </div>
        </div>
    </div>
</section>