
<header class="w-full flex items-center justify-center" id="header">

    <div class="container py-3 flex justify-between items-center">
        <div>
            <img src="/static/images/logo.png" width="500" alt="Adl Makina Logo">
        </div>
        <nav class="header-nav">
            <ul>
                <li><a class="{% if request.path == '/' %} !text-sky-700 {% endif %}" href="{% url 'index' %}">Anasayfa</a></li>
                <li><a class="{% if request.path == '/uretim/' %} !text-sky-700 {% endif %}" href="{% url "production" %}">Üretim</a></li>
                <li><a class="{% if request.path == '/urunler/' %} !text-sky-700 {% endif %}" href="{% url "products" %}">Ürünler</a></li>
                <li><a class="{% if request.path == '/kalite/' %} !text-sky-700 {% endif %}" href="{% url "quality" %}">Kalite</a></li>
                <li><a class="{% if request.path == '/iletisim/' %} !text-sky-700 {% endif %}" href="{% url "contact" %}">İletişim</a></li>
            </ul>
        </nav>
    </div>

</header>
