
 <article class="mb-5 p-3 shadow-sm hover:shadow-md rounded">
     <div><img src="/static/images/tezgah.jpg" class="rounded" alt="Cnc Dik İşlem Merkezi" style="width: 100%; height: 150px;"></div>
     <div class="mt-5 mb-8"><h2 class="text-sky-700 text-[17px] font-medium">CNC Dik İşlem Merkezi</h2></div>
     <div class="text-slate-500">
        <ul class="list-disc flex gap-3 flex-col pl-4">
            <li>Topper TMV 1050 A II marka</li>
            <li>Kalıpçı Özellikli</li>
            <li>Mitsubishi Kontrol Ünitesi</li>
            <li>Akuple sistem motor özelliğiyle  pürüzsüz işleme</li>
            <li>Tabla Ölçüsü: 1000*600*450 mm.</li>
            <li>Tabla Ağırlığı: 800 kg.</li>
        </ul>
     </div>
 </article>

  <article class="mb-5 p-3 shadow-sm hover:shadow-md rounded">
     <div><img src="/static/images/cnctorna.jpg" class="rounded" alt="Cnc Torna" style="width: 100%; height: 150px;"></div>
     <div class="mt-5 mb-8"><h2 class="text-sky-700 text-[17px] font-medium">CNC Torna</h2></div>
     <div class="text-slate-500">
        <ul class="list-disc flex gap-3 flex-col pl-4">
            <li>Top Turn S 27 marka</li>
            <li>10” ayna</li>
            <li>Fanuc Oitd Kontrol Ünitesi</li>
            <li>Max. 480 çap, 600 mm. boy</li>
        </ul>
     </div>
 </article>

   <article class="mb-5 p-3 shadow-sm hover:shadow-md rounded">
     <div><img src="/static/images/universal.jpg" class="rounded" alt="Universal Torna" style="width: 100%; height: 150px;"></div>
     <div class="mt-5 mb-8"><h2 class="text-sky-700 text-[17px] font-medium">Universal Torna</h2></div>
     <div class="text-slate-500">
        <ul class="list-disc flex gap-3 flex-col pl-4">
            <li>DMTG marka</li>
            <li>2 m. boy</li>
            <li>Max. 500 çap işleme</li>
            <li>Dijital göstergeli</li>
        </ul>
     </div>
 </article>
