<section class="w-full">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">

      <div class="swiper-slide swiper-slider-image">
          <h2>slider1</h2>
          <div class="bg-image-color"></div>
      </div>
        <div class="swiper-slide swiper-slider-image-1">
            <h2>slider2</h2>
          <div class="bg-image-color"></div>
      </div>
        <div class="swiper-slide swiper-slider-image-2">
            <h2>slider2</h2>
            <div class="bg-image-color"></div>
        </div>
        <div class="swiper-slide swiper-slider-image-3">
            <h2>slider2</h2>
            <div class="bg-image-color"></div>
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>