<div class="fixed z-20 bottom-[45%] right-0">

    <div class="bg-sky-700 w-[300px] email-box p-3 mb-5 z-10">
        <a href="" class="flex items-center">
            <span class="text-white"><i class="uil uil-envelope-minus text-3xl"></i></span>
            <p class="ml-16 text-slate-200">İletişim</p>
        </a>
    </div>

    <div class="bg-sky-700 w-[300px] email-box p-3 mb-5 z-10">
        <a href="" class="flex items-center">
            <span class="text-white"><i class="uil uil-phone text-3xl"></i></span>
            <p class="ml-16 text-slate-200">546 894 2012</p>
        </a>
    </div>


</div>